@import url('https://fonts.googleapis.com/css2?family=Poppings:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.navbar .navbar-brand .img-fluid {
    max-width: 150px;
}

.navbar .nav-item .nav-link {
    font-family: 'Poppings', sans-serif;
    font-weight: 600;
    color: #111;
}

.navbar .nav-item img {
    max-width: 30px;
}

header {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 85px;
    color: #111;
}

header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #111;
}

header .btn-danger {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #F71626;
    border-color: #F71626;
    border-radius: 50px;
    margin-top: 10px;
}